<%- include('./includes/admin-pages-header.ejs') %>

    <!-- CONTAINER  -->
    <div class="mainContent">
        <!-- DETAIL FORM -->
        <div class="table">
            <div class="row bg-1">
                <div class="cell cell-100 text-center text-fff">
                    <h2>Tambah Data</h2>
                </div>
            </div>
        </div>
        <!-- <form action="/api/data-baru" method="POST" enctype="multipart/form-data" class="form"> -->
        <form action="/api/data-baru" method="POST" class="table" name="add-data-form">
            <!-- fieldsets -->
            <div id="msform">
                <fieldset>
                    <input type="text" required pattern=".*\S+.*" title="This field is required" name="pic" placeholder="PIC" />
                    <input type="text" required pattern=".*\S+.*" title="This field is required" name="no_odner" placeholder="No Odner" />
                    <input type="text" required pattern=".*\S+.*" title="This field is required" name="nama_dokumen" placeholder="Nama Dokumen" />
                    <input type="text" required pattern=".*\S+.*" title="This field is required" name="no_dokumen" placeholder="No Dokumen" />
                    <input type="text" required pattern=".*\S+.*" title="This field is required" name="nama_laporan" placeholder="Nama Laporan" />
                    <input type="text" required pattern=".*\S+.*" title="This field is required" name="halaman" placeholder="Halaman" />
                    <input type="text" required pattern=".*\S+.*" title="This field is required" name="tahun" placeholder="Tahun" />
                    <input type="text" name="keterangan" placeholder="Keterangan" />
                    <input type="submit" name="submit" class="submit action-button" value="Simpan" />
                </fieldset>
            </div>

        </form>
    </div>
    </div>
    <!-- END CONTAINER  -->

    <%- include('./includes/admin-pages-footer.ejs') %>