<html>

<head>
    <script type="text/javascript" src="/js/table.js"></script>
</head>

<body>
    <div id="wrapper">
        <table align='center' cellspacing=2 cellpadding=5 id="data_table" border=1>
            <tr>
                <th>PIC</th>
                <th>No Odner</th>
                <th>Nama Dokumen</th>
                <th>No Dokumen</th>
                <th>Nama Laporan</th>
                <th>Halaman</th>
                <th>Tahun</th>
                <th>Keterangan</th>
                <th>Edit</th>
            </tr>
        </table>

        <table align='center' cellspacing=2 cellpadding=5 id="input_table" border=1>
            <tr>
                <td><input type="button" class="add" id="add_button" onclick="tambah_baris();" value="Tambah"></td>
            </tr>
            <tr>
                <th>PIC</th>
                <th>No Odner</th>
                <th>Nama Dokumen</th>
                <th>No Dokumen</th>
                <th>Nama Laporan</th>
                <th>Halaman</th>
                <th>Tahun</th>
                <th>Keterangan</th>
                <th>Edit</th>
            </tr>

        </table>
    </div>
    <div>
        <span id="len"></span>
    </div>
</body>

</html>