<html>

<head>
    <script type="text/javascript" src="/js/table.js"></script>
</head>

<body>
    <!-- button_input  -->
    <div class="button_input">
        <table align='center' cellspacing=2 cellpadding=5 border=1>
            <tr>
                <td><input type="button" class="add" id="add_button" onclick="tambah_baris();" value="Tambah"></td>
            </tr>
        </table>
    </div>
    <!-- eof button_input -->

    <!-- class input  -->
    <div id="input">
    </div>

    <!-- space  -->
    <br><br><br><br>
    <!-- eof class input  -->

    <!-- wrapper data table  -->
    <div id="wrapper">
        <table align='center' cellspacing=2 cellpadding=5 id="data_table" border=1>
            <tr id="data_table_header">
                <th>NO</th>
                <th>PIC</th>
                <th>No Odner</th>
                <th>Nama Dokumen</th>
                <th>No Dokumen</th>
                <th>Nama Laporan</th>
                <th>Halaman</th>
                <th>Tahun</th>
                <th>Keterangan</th>
                <th>Edit</th>
            </tr>
        </table>
    </div>
    <!-- eof wrapper data table  -->
</body>

</html>