<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>
        <%= pageTitle %>
    </title>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>

    <div class="login-page">
        <div class="form">
            <!-- register form  -->
            <form class="register-form">
                <input type="text" name="nama_depan" placeholder="Nama Depan" />
                <input type="text" name="nama_belakang" placeholder="Nama Belakang" />
                <input type="text" name="nama_akun" placeholder="Nama Akun" />
                <input type="text" name="email" placeholder="Alamat E-mail" />
                <input type="text" name="nomor_telepon" placeholder="Nomor Telepon" />
                <input type="password" name="password" placeholder="Kata Sandi" />
                <button>Buat Akun</button>
                <p class="message">Sudah memiliki akun? <a href="#">Masuk</a></p>
            </form>
            <!-- eof regisrter form  -->

            <!-- login form  -->
            <form action="/login" method="POST" class="login-form">
                <p class="sign-in">
                    <h2>
                        <%= contentTitle %>
                    </h2>
                </p>
                <input type="text" name="username" placeholder="username" />
                <input type="password" name="password" placeholder="password" />
                <button>Masuk</button>
                <p class="message">Belum memiliki akun ? <a href="#">Daftar</a></p>
            </form>
            <!-- eof login form  -->

        </div>
    </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="/js/login.js"></script>
</body>

</html>